VITE_API_URL=https://stakely-production.up.railway.app
VITE_SOLANA_RPC_URL=https://api.devnet.solana.com
VITE_ESCROW_PROGRAM_ID=J2zMD6jRMFetFr82nqk1jBsmdSYSuDKKsbfnJRqHRcai
VITE_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
